In [1]:
# Imports

import datetime
import json
import pandas as pd
import numpy as np
from flatten_json import flatten

# Receipts Data

In [2]:
# Read in receipts JSON file

receipts_df = pd.read_json('Data/receipts.json', lines = True)
receipts_df.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [54]:
# checking out our dataframe!
receipts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   receipt_id               1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             1119 non-null   object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        1119 non-null   object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             1119 non-null   object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

In [55]:
# counting null values
receipts_df.isnull().sum()

receipt_id                   0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate                 0
modifyDate                   0
pointsAwardedDate            0
pointsEarned               510
purchaseDate                 0
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [5]:
# Defining a function to parse the dates
def parse_dates(df, date_columns):
    for i in date_columns:
        df[i] = df[i].astype(str).str.extract('(\d+)').fillna(0)
        df[i] = df[i].apply(lambda time: (datetime.datetime.fromtimestamp(int(time) / 1000)).strftime("%Y-%m-%d %H:%M:%S"))
    return df

In [6]:
receipts_df["_id"] = pd.json_normalize(receipts_df["_id"])
receipt_id = receipts_df.pop('_id')
receipts_df.insert(0, 'receipt_id', receipt_id)
date_columns = ['createDate', 'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate', 'purchaseDate', ]
receipts_2_df = parse_dates(receipts_df, date_columns)

In [7]:
receipts_2_df.head()

,receipt_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:36,2021-01-03 09:25:31,500.0,2021-01-02 18:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:48,2021-01-03 09:24:43,150.0,2021-01-02 09:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 09:25:37,2021-01-03 09:25:37,1969-12-31 18:00:00,2021-01-03 09:25:42,1969-12-31 18:00:00,5.0,2021-01-02 18:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:39,2021-01-03 09:25:34,5.0,2021-01-02 18:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 09:25:06,2021-01-03 09:25:06,2021-01-03 09:25:11,2021-01-03 09:25:11,2021-01-03 09:25:06,5.0,2021-01-02 09:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [8]:
# Creating new dataframe from the RewardReceiptItemsList column

def extract_rewards_receipt_list(df, col_list):
    df = df.explode('rewardsReceiptItemList')
    df = df[col_list]
    df = pd.json_normalize(json.loads(df.to_json(orient = 'records')))
    df.drop(['rewardsReceiptItemList'], axis = 1, inplace = True)
    df.columns = df.columns.str.split('.').str[-1]
    return df

In [9]:
col_list = ['receipt_id', 'rewardsReceiptItemList']
rewardsReceiptItemList = extract_rewards_receipt_list(receipts_df, col_list)

In [10]:
rewardsReceiptItemList.head()

,receipt_id,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,5ff1e1eb0a720f0523000575,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1bb0a720f052300056b,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1ee0a7214ada100056f,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# checking out our dataframe!
rewardsReceiptItemList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 35 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   receipt_id                          7381 non-null   object
 1   barcode                             3090 non-null   object
 2   description                         6560 non-null   object
 3   finalPrice                          6767 non-null   object
 4   itemPrice                           6767 non-null   object
 5   needsFetchReview                    813 non-null    object
 6   partnerItemId                       6941 non-null   object
 7   preventTargetGapPoints              358 non-null    object
 8   quantityPurchased                   6767 non-null   float64
 9   userFlaggedBarcode                  337 non-null    object
 10  userFlaggedNewItem                  323 non-null    object
 11  userFlaggedPrice                    299 non-null    object
 12  userFlaggedQuantity                 299 non-null    float64
 13  needsFetchReviewReason              219 non-null    object
 14  pointsNotAwardedReason              340 non-null    object
 15  pointsPayerId                       1267 non-null   object
 16  rewardsGroup                        1731 non-null   object
 17  rewardsProductPartnerId             2269 non-null   object
 18  userFlaggedDescription              205 non-null    object
 19  originalMetaBriteBarcode            71 non-null     object
 20  originalMetaBriteDescription        10 non-null     object
 21  brandCode                           2600 non-null   object
 22  competitorRewardsGroup              275 non-null    object
 23  discountedItemPrice                 5769 non-null   object
 24  originalReceiptItemText             5760 non-null   object
 25  itemNumber                          153 non-null    object
 26  originalMetaBriteQuantityPurchased  15 non-null     float64
 27  pointsEarned                        927 non-null    object
 28  targetPrice                         378 non-null    object
 29  competitiveProduct                  645 non-null    object
 30  originalFinalPrice                  9 non-null      object
 31  originalMetaBriteItemPrice          9 non-null      object
 32  deleted                             9 non-null      object
 33  priceAfterCoupon                    956 non-null    object
 34  metabriteCampaignId                 863 non-null    object
dtypes: float64(3), object(32)
memory usage: 2.0+ MB

In [12]:
# counting null values
rewardsReceiptItemList.isnull().sum()

receipt_id                               0
barcode                               4291
description                            821
finalPrice                             614
itemPrice                              614
needsFetchReview                      6568
partnerItemId                          440
preventTargetGapPoints                7023
quantityPurchased                      614
userFlaggedBarcode                    7044
userFlaggedNewItem                    7058
userFlaggedPrice                      7082
userFlaggedQuantity                   7082
needsFetchReviewReason                7162
pointsNotAwardedReason                7041
pointsPayerId                         6114
rewardsGroup                          5650
rewardsProductPartnerId               5112
userFlaggedDescription                7176
originalMetaBriteBarcode              7310
originalMetaBriteDescription          7371
brandCode                             4781
competitorRewardsGroup                7106
discountedItemPrice                   1612
originalReceiptItemText               1621
itemNumber                            7228
originalMetaBriteQuantityPurchased    7366
pointsEarned                          6454
targetPrice                           7003
competitiveProduct                    6736
originalFinalPrice                    7372
originalMetaBriteItemPrice            7372
deleted                               7372
priceAfterCoupon                      6425
metabriteCampaignId                   6518
dtype: int64

In [13]:
receipts_2_df = receipts_2_df.drop(columns='rewardsReceiptItemList')
receipts_2_df.head()

,receipt_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:36,2021-01-03 09:25:31,500.0,2021-01-02 18:00:00,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:48,2021-01-03 09:24:43,150.0,2021-01-02 09:24:43,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 09:25:37,2021-01-03 09:25:37,1969-12-31 18:00:00,2021-01-03 09:25:42,1969-12-31 18:00:00,5.0,2021-01-02 18:00:00,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:39,2021-01-03 09:25:34,5.0,2021-01-02 18:00:00,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 09:25:06,2021-01-03 09:25:06,2021-01-03 09:25:11,2021-01-03 09:25:11,2021-01-03 09:25:06,5.0,2021-01-02 09:25:06,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

# Users Data

In [14]:
# Read in users JSON file

users_df = pd.read_json('Data/users.json', lines = True)
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [15]:
users_df["_id"] = pd.json_normalize(users_df["_id"])
user_id = users_df.pop('_id')
users_df.insert(0, '_id', user_id)
date_columns = ['createdDate', 'lastLogin']
users_df = parse_dates(users_df, date_columns)

In [16]:
# checking out our dataframe!
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     495 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

In [17]:
# counting null values
users_df.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin        0
role             0
signUpSource    48
state           56
dtype: int64

# Brands Data

In [18]:
brands_df = pd.read_json('Data/brands.json', lines = True)
brands_df.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [19]:
# transforming semi-structured data into a flat table
brands_df["_id"] = pd.json_normalize(brands_df["_id"])
brands_cpg = pd.json_normalize(brands_df['cpg'])

In [20]:
brands_cpg.columns

Index(['$ref', '$id.$oid'], dtype='object')

In [21]:
# renaming columns for readability
brands_df['cpg_ref'] = brands_cpg['$ref']
brands_df['cpg'] = brands_cpg['$id.$oid']

In [22]:
brand_id = brands_df.pop('_id')
brands_df.insert(0, 'brand_id', brand_id)

In [23]:
brands_df

,brand_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,cpg_ref
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,test brand @1612366101024,0.0,NaN,Cogs
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Starbucks,0.0,STARBUCKS,Cogs
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,5f77274dbe37ce6b592e90bf,test brand @1601644365844,NaN,NaN,Cogs
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,53e10d6368abd3c7065097cc,Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL,Cogs
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,Cogs
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,5332f5f6e4b03c9a25efd0b4,LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,Cogs
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,6026d757be37ce6369301467,test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,Cogs

In [26]:
# checking out our dataframe!
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand_id      1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
 8   cpg_ref       1167 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 82.2+ KB

In [27]:
# counting null values
brands_df.isnull().sum()

brand_id          0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
cpg_ref           0
dtype: int64

## Saving data as CSV files

In [29]:
receipts_2_df.to_csv('receipts.csv', index = False)

In [30]:
rewardsReceiptItemList.to_csv('rewardsReceiptItemList.csv', index = False)

In [31]:
brands_df.to_csv('brands.csv', index = False)

In [32]:
users_df.to_csv('users.csv', index = False)

## Checking for unique values

In [41]:
unique_values = users_df.nunique(axis=0)

print("Number of unique values in each column :\n",
unique_values)

Number of unique values in each column :
 _id             212
active            2
createdDate     212
lastLogin       172
role              2
signUpSource      2
state             8
dtype: int64

In [46]:
unique_values_2 = receipts_2_df.nunique(axis=0)

print("Number of unique values in each column :\n",
unique_values_2)

Number of unique values in each column :
 receipt_id                 1119
bonusPointsEarned            12
bonusPointsEarnedReason       9
createDate                 1106
dateScanned                1106
finishedDate                553
modifyDate                 1103
pointsAwardedDate           524
pointsEarned                119
purchaseDate                359
purchasedItemCount           50
rewardsReceiptStatus          5
totalSpent                   94
userId                      258
dtype: int64

In [52]:
unique_values_3 = rewardsReceiptItemList.nunique(axis=0)

print("Number of unique values in each column :\n",
unique_values_3)

Number of unique values in each column :
 receipt_id                            1119
barcode                                568
description                           1889
finalPrice                             828
itemPrice                              828
needsFetchReview                         2
partnerItemId                          916
preventTargetGapPoints                   1
quantityPurchased                       13
userFlaggedBarcode                       6
userFlaggedNewItem                       1
userFlaggedPrice                        13
userFlaggedQuantity                      5
needsFetchReviewReason                   2
pointsNotAwardedReason                   1
pointsPayerId                           15
rewardsGroup                           182
rewardsProductPartnerId                 16
userFlaggedDescription                   3
originalMetaBriteBarcode                 6
originalMetaBriteDescription             2
brandCode                              227
competitorRewardsGroup                  30
discountedItemPrice                    817
originalReceiptItemText               1738
itemNumber                              47
originalMetaBriteQuantityPurchased       2
pointsEarned                           277
targetPrice                              2
competitiveProduct                       2
originalFinalPrice                       2
originalMetaBriteItemPrice               2
deleted                                  1
priceAfterCoupon                       334
metabriteCampaignId                     75
dtype: int64

In [53]:
unique_values_4 = brands_df.nunique(axis=0)

print("Number of unique values in each column :\n",
unique_values_4)

Number of unique values in each column :
 brand_id        1167
barcode         1160
category          23
categoryCode      14
cpg              196
name            1156
topBrand           2
brandCode        897
cpg_ref            2
dtype: int64